body {
  margin: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

header {
  width: 100%;
  min-height: 10vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.inputBTN {
  border: 1px solid #333;
  border-radius: 0.3em;
  padding: 0.25em;
  width: 7em;
}

select {
  margin-left: 0.5rem;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
}
